:root {
    --color-1: #f7f7f7;
}

body {
    margin: 0;
}

.body-container {
    display: flex;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
    background-image: url(imgs/halie-west-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 120px;
    margin-top: 136px;
}

.logo-container h1 {
    color: white;
    font-size: 64px;
    font-family: Anton;
    letter-spacing: 0.08em;
}

.logo-container img {
    width: 80px;
    height: 107px;
}

.credit {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.sign-up-container {
    display: flex;
    flex: 5;
    flex-direction: column;
    height: 100vh;
}

.sign-up-container > * {
    padding-left: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.section-2 {
    flex: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.section-3 button {
    margin-top: 36px;
}

.section-1, .section-3 {
    flex: 1;
    background-color: var(--color-1);
}

.section-1 h3 {
    font-weight: 700;
    width: 560px;
    margin-bottom: 10px;
}

.section-1 h3:last-child {
    margin-bottom: 48px;
}

.label-input-container div {
    display: flex;
    flex-direction: column;
}

.label-input-container {
    display: flex;
    gap: 80px;
    padding: 8px 0px;
}

label {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 2px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    height: 18px;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input:invalid {
    outline: 1px solid red;
}

button {
    border:  none;
    border-radius: 6px;
    padding: 12px 42px;
    font-weight: 600;
    background-color: #596D48;
    color: white;
}

.section-3 a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}
